* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;

}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "archivo", sans-serif;  
}
.app {
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
}
.scroll__top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 1.2rem 1.7rem;
    background-color: var(--orange);
    color: white;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}
.scroll__top:hover {
    background-color: var(--green);
    padding: 1.3rem 2rem;
}
.scroll__top--icon {
    font-size: 2rem;
}
.header {
    position: relative;
}
.navigation {
    position: fixed;
    left: 0;
    right: 0;
    height: 7rem;
    z-index: 9;
    box-shadow: 0 1px 5px rgb(213, 209, 209);
    background-color: white;
}

.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 7rem;
    align-items: center;
    justify-content: space-between;

}

.nav__logo a {
    font-size: 3rem;
    color: var(--black4);
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 5px;
}
.nav__list--header {
    display: flex;
}
.nav__link--header {
    display: none;
}
.nav__item {
    margin: 0 12px;
    font-size: 1.6rem;
}
.nav__item a:hover {
    color: var(--orange);
}
.nav__link {
    color: var(--black3);
    display: block;
}
.menu__icon {
    display: none;
}
.nav__icons a {
    font-size: 1.2rem;
    color: var(--black3);
    padding: 10px 10px;
    border: 1px solid var(--black3);
    border-radius: 50%;
    transition: 0.6s;
}
.nav__icons a:hover {
    background-color: var(--orange);
    
}
.nav__icon--last {
    position: relative;
}
.cart__number {
    position: absolute;
    font-size: 1.2rem;
    padding: 2px 4px;
    background-color: var(--orange);
    border-radius: 50%;
    top: -5px;
    color: white;
}
.nav__icons a:not(:last-child) {
    margin-right: 10px;
}


/* hero  */

.hero {
    background-color: #f1f1f1;
}
.hero__track {
    margin: 0;
    padding: 0;
}
.slider {
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    
}
.slides {
    width: 200%;
    height: 700px;
    display: flex;
}
.slide {
    width: 50%;
    transition: 2s;
    position: relative;
}
.slide__container {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    position: relative;
    padding: 8rem 0;
}
.slide__content {
    font-size: 1.8rem;
    flex: 1;
    padding: 0 3rem;
    margin: auto;
}
.slide__content--desc {
    margin-bottom: 50px;
}
.hero-btn {
    padding: 12px 20px;
    font-weight: 700;
    background-color: var(--black4);
    color: white;
    border: 1px solid black;
    transition: 0.4s;
    cursor: pointer;

}
.hero-btn:hover {
    color: black;
    background-color: white;
}
.slide__img {
    flex: 1;
    max-width: 100%;
    padding: 0 2rem;
    margin-left: 8rem;
}

input[name="radio"] {
    display: none;
}
.navigation__manual {
   position: absolute;
   width: 100%;
   padding: 0 auto;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}
.manual-btn {
    border: 2px solid rgb(39, 178, 162);
    padding: 5px;
    border-radius: 10px;
    margin: 0 15px;
    transition: 1s;
}
.manual-btn:hover {
    background-color: rgb(39, 178, 162);

}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -50%;
}

.navigation__auto {
    position: absolute;
    margin-top : 660px;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.navigation__auto div {
    border: 2px solid rgb(39, 178, 162);
    padding: 5px;
    border-radius: 10px;
    margin: 0 15px;
    transition: 1s;
}

#radio1:checked ~ .navigation__auto .auto-btn1 {
    background-color: rgb(39, 178, 162);
}
#radio2:checked ~ .navigation__auto .auto-btn2 {
    background-color: rgb(39, 178, 162);
}


/* collection  */

.collection {
    margin: 3rem 0;
}
div.collection__box {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 2rem 3rem;
}
.img__container {
   width: 48%;
   display: flex;
   justify-content: center;

}
.img__collection {
    width: 75%;
}
.collection__content {
    display: flex;
    flex-direction: column;
    width: 52%;
    justify-content: center;
    font-size: 1.5rem;
}
.collection__content h1 {
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 2.7rem;
}
.collection-btn {
    padding: 10px 20px;
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: white;
    display: flex;
    align-items: center;
    width: 145px;
    border-radius: 20px;
    justify-content: center;
    font-weight: 600;
    transition: 0.6s;
    margin-top: 1.6rem;
}

.collection-btn:hover {
    background-color:white;
    color: black;

}

.title__section {
    width: 100%;
    padding: 15px 0;
    background-color: var(--primaryColor);
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title__section h3 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.9rem;
}
.section__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.control-btn {
    padding: 10px 15px;
    background-color: var(--primaryColor);
    margin: 0 10px;
}
.container__prd {
    margin: 1rem;
}
.product__box {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 235px;
}
.product__box:hover .quick__view--list {
    display: flex;
}
.product__header {
    height: 250px;
    display: flex;
    justify-content: center;
}
.product__header img {
    max-width: 100%;
    max-height: 100%;
}
.product__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.7rem;
}
.product__footer h2 {
    margin: 10px 0;
    font-size: 1.9rem;
}
.rating {
    display: flex;
    justify-content: center;
}
.rating__like {
    color: var(--yellow);

}
.rating__unlike {
    color: var(--yellow);
}
.product__price {
    margin: 1rem 0;
}
.product-btn {
    border: 1px solid black;
    padding: 10px 0;
    background-color: white;
    outline: none;
    font-weight: 700;
    transition: 0.4s;
}
.product-btn:hover {
    background-color:black;
    color: white;

}
.quick__view--list {
    display: flex;
    padding: 7px 10px;
    background-color: rgba(255, 255,255, 0.7);
    width: 90%;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    display: none;
    animation: growth ease-in 0.7s;
}
.quick__view {
    padding: 8px;
    width: 25%;
    background-color: var(--orange);
    transition: 1s;
}
.quick__view--item {
    font-size: 1.5rem;
    color: white;
    
}
.quick__view:hover {
    background-color: black;
}
@keyframes growth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* category  */

.category__section {
    padding: 5rem 0;
}
.category__title {
    display: flex;
    margin-bottom: 3rem;
}
.title__category {
    opacity: 0.6;
    margin: 1rem 0
}

.row.trend__product, .row.special__product,
.row.featured__product {
    display: none;
}

/* facility  */

.facility__section {
    padding: 3rem 0;
    background-color: var(--primaryColor);
}
.facility__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.facility__box {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

}
.facility__box p {
    text-align: center;
}
.facility__img--container {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 10px;
    width: 95px;
    border: 1px solid white;
    border-radius: 50%;
    margin: auto;

}
.facility__img--container i {
    border-radius: 50%;
    padding: 12px 10px;
    background-color: white;
}

/* -----------testimonial ----------- */

.testimonial {
    background-color: black;
    color: white;
    padding: 4rem 0;
    position: relative;
    height: 500px;
    margin-bottom: 6rem;
}
.testimonial__container {
    padding: 4rem 3rem;


}
.testimonial__box {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.7;
    color: var(--grey3);
}
.testimonial__box--desc p {
    width: 80%;
    font-size: 1.6rem;
    padding: 3rem;
    margin: auto;
}
.client__info {
    font-size: 1.7rem;
}
.client__info h3 {
    margin: 0;
}
.client__img--container {
    width: 70px;
    height: 70px;
    margin: auto;
}
.client__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.slider__client {
    width: 100%;
    height: 275px;
    overflow: hidden;
    
}
.slides__client {
    width: 400%;
    height: 275px;
    display: flex;
}
.slide__client {
    width: 25%;
    height: 275px;
    position: relative;
    transition: 1.5s;
    cursor: pointer;
}
input[name="radio_prf"] {
    display: none;

}
.slide__client-btn {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
}

.slide__client-btn:hover {
    background-color: white;
}
.slide__client--manual {
    width: 100%;
    position: absolute;
    padding: 0 auto;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

#radio3:checked ~ .slide__client--first {
    margin-left: 0;
}
#radio4:checked ~ .slide__client--first {
    margin-left: -25%;
}
#radio5:checked ~ .slide__client--first {
    margin-left: -50%;
}
#radio6:checked ~ .slide__client--first {
    margin-left: -75%;
}

/* --------section new ------------  */



.new__content {
    padding: 4rem 0;
}
.new__product {
    
    margin: 3rem 0;
}

.new__img {
    width: 100%;
    height: 100%;
}
.new__footer {
    background-color: var(--primaryColor);
    padding: 1rem;
    line-height: 1.8;
    color: var(--black3);
}
.new__footer h3 {
    margin: 0;
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 2rem;
}
.new__footer p {
    margin: 0;
}
.new__button {
    padding: 1rem 1.5rem;
    max-width: 160px;
    border: 1px solid black;
    color: black;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: 0.4s;
}
.new__button:hover {
    background-color: black;
    color: white;

}

/* ---------- section contact ------- */

.contact {
    padding: 5rem 3rem;
    border-top: 1px solid var(--grey);
}
.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact__content {
    flex: 1;
}
.contact__title {
    font-size: 3rem;
    margin: 1rem 0;
}
.contact__container p {
    color: var(--black2);
}
.contact__form {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 46px;
    overflow: hidden;
}
.contact__input {
    flex: 1;
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    border: none;
    background-color: var(--primaryColor);
    color: var(--black3);
    outline: none;
}
.contact__link {
    width: 140px;
    padding: 12px 20px;
    background-color: black;
    color: white;
}

@media (max-width: 1150px) {
    .contact__container {
        flex-direction: column;
    }
}

 /* -----------footer ------- */

.footer {
     padding: 4rem 0;
     background-color: var(--black);
     color:  white;
}
.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer__box {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer__box--title {
    color: var(--primaryColor);

}
.footer__box--link {
    padding: 1rem 0;
    color: var(--grey);
}
.footer__address--item i {
    margin-right: 5px;
}